<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизація</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="{{ url_for('index') }}">Головна</a></li>
          <li><a href="{{ url_for('register') }}">Реєстрація</a></li>
          <li><a href="{{ url_for('login') }}">Вхід</a></li>
        </ul>
        {% if g.user %}
        <p>Вітаємо, {{ g.user.login }}!</p>
        {% endif %}
      </nav>
      <h1>Авторизація</h1>
    </header>

    <main>
      <p>Це сторінка авторизації.</p>

      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        <li>{{ messages[0] }}</li>
      </ul>
      {% endif %} {% endwith %} {% if user %}
      <p>Вхід успішний!</p>
      <p>ID: {{ user.id }}</p>
      <p>Логін: {{ user.login }}</p>
      <p>Пароль: {{ user.password }}</p>
      {% else %}
      <form class="login-form" method="post">
        <div class="form-group">
          <label for="login">Логін:</label>
          <input type="text" id="login" name="login" required />
        </div>
        <div class="form-group">
          <label for="password">Пароль:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Увійти</button>
      </form>
      {% endif %}
    </main>

    <footer>
      <p>&copy; 2024 Новинний блог.</p>
    </footer>
  </body>
</html>
