<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Новий пост</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <style>
      .preview {
        margin-top: 20px;
      }
      .preview img {
        max-width: 100%;
        height: auto;
      }
    </style>
    <script>
      function previewImage(event) {
        const reader = new FileReader();
        reader.onload = function () {
          const output = document.getElementById("preview");
          output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
      }
    </script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="{{ url_for('index') }}">Головна</a></li>
          <li><a href="{{ url_for('logout') }}">Вийти</a></li>
        </ul>
      </nav>
      <h1>Новий пост</h1>
    </header>
    <main>
      <form
        action="{{ url_for('new_post') }}"
        method="POST"
        enctype="multipart/form-data"
      >
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title" required />

        <p>Автор: {{ g.user.login }} | Дата та час: {{ current_time }}</p>

        <div class="preview">
          <img id="preview" src="#" alt="Попередній перегляд зображення" />
        </div>

        <!--    <label for="content">Вміст:</label>

      -->
        <textarea id="content" name="content"></textarea>

        <label for="file">Завантажити зображення:</label>
        <input
          type="file"
          id="file"
          name="file"
          onchange="previewImage(event)"
        />

        <button type="submit">Додати пост</button>
      </form>
    </main>
    <footer>
      <p>&copy; 2024 Новинний блог.</p>
    </footer>
  </body>
</html>
